node_modules/
dist/
test-results/
playwright-report/
__pycache__/
qa/**
!qa/react-home/
!qa/react-home/baseline.json

.prerender/
!qa/react-migration/
qa/react-migration/*
!qa/react-migration/content-baseline.json
